<div id="main">
    <div id="left_side">
        <p>
            Наш Московский офис нашодится по адресу: ул.Пречистенка, д.20 (вход со двора).<br>
            График работы: ежедневно с 8:00 до 18:00<br>
            <br>
            Кроме того, вы можете позвонить нам по телефону:<br>
            Общий телефон: 8(495)545-6025<br>
            Телефон типографии: 8(495)373-5220<br>
        </p>
    </div>
    <div id="right_side">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1090.9878584280668!2d37.594806247018234!3d55.74265060364319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bae62fd9847%3A0x299bce8f1d81703!2z0YPQuy4g0J_RgNC10YfQuNGB0YLQtdC90LrQsCwgMjAsINCc0L7RgdC60LLQsCwgMTE5MDM0!5e0!3m2!1sru!2sru!4v1608822446823!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>